.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textfield {
    padding: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    fill: none;
    background-color: #f2f2f7;
    resize: none;
    font-size: 1em;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 2px;
}

h4 {
    font-weight: 600;
    text-transform: uppercase;
    color: #888888;
}

.content-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content-info h1 {
    font-size: 40px;
}

.benefits {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 40px 20px;
}

.benefit {
    max-width: 300px;
}

.c-hero__lp {
    gap: 10px;
    min-height: 90vh;
}

.c-screenshot-image__mobile {
    margin-top: -20px;
}

.c-screenshot-image__desktop {
    display: none;
    margin-left: 30px;
}

@media screen and (min-width: 768px) {
    .benefits {
        flex-direction: row;
    }

    .c-hero__lp {
        flex-direction: row;
    }

    .c-screenshot-image__mobile {
        display: none;
    }

    .c-screenshot-image__desktop {
        display: block;
    }
}