.header__container {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 13px;
    margin: 10px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 22.37px;
    border: 1px solid transparent;
    transition: 0.25s;
}

.image:hover {
    border-color: #006900;
}