.header__container {
    position: relative;
    margin: 10px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: 2px solid transparent;
    transition: 0.25s;
    padding-top: 5px;
}

.image__icon {
    width: 100px;
    height: 100px;
    border-radius: 13px;
    padding-top: 0;
    border-radius: 22.37px;
}

.image:hover {
    border-color: #eee;
}